@media screen and (max-width: 700px) {
    .container {
        width: 60%;
        margin: 0 auto;
        padding-top: 20vh;
    }
}

@media screen and (min-width: 701px) {
    .container {
        width: 55%;
        margin: 0;
        padding-top: 15vmax;
        padding-left: 10vw;
    }
}

/* Fonts */

@font-face {
    font-family: 'Circular Std';
    src: url('https://ascodedbymila.github.io/assets/fonts/circularstd-book.ttf');
    font-weight: 300;
}

body {
    top: 0;
    left: 0;
    color: #3F3F3F;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    background: #F7F7F7;
    border: 1vmin solid #FFD76B;
    box-sizing: border-box;
}

.container {
    font-family: 'Inconsolata', sans-serif;
    font-size: 3vmin;
    line-height: 5vmin;
    display: block;
}

a {
    border-bottom: 4px solid #FFD76B;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    background: #FFD76B;
}

.element {
    font-family: 'Circular Std', sans-serif;
    font-weight: 300;
    font-size: 6vmin;
    letter-spacing: 1px;
    border-bottom: 6px solid #FFD76B;
}
.typed-cursor{
    opacity: 1;
    font-size: 6vmin;
    -webkit-animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
    animation: blink 2s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}