/* general specs */

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Circular Std';
    src: url(/assets/fonts/circularstd-book.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Circular Std';
    src: url(/assets/fonts/circularstd-bold.ttf);
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

body {
    background: #F9F9F9;
}

a {
    text-decoration: none;
    border-bottom: 1px #C5C5C5 dotted;
    color: inherit;
}

a:hover {
    color: #B2C1B3;
}

.hello {
    padding: 8vh 0 15vh 0;
}

#data {
    color: #49AF4D;
}
#title {
    font-family: 'Larish Neue', sans-serif;
    font-weight: 700;
    text-align: left;
    color: #2D2D2D;
}

#about {
    font-family: 'Calibre', sans-serif;
    font-weight: 200;
    color: #797979;
    letter-spacing: .5px;
    line-height: 1.25em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1em 0 0;
    text-align: right;
}

li {
    display: inline;
    line-height: 45px;
}

#coffee {
    font-family: "Roboto Mono", monospace;
    font-size: .75em;
    color: #C3BFD7;
}

li a {
    text-decoration: none;
    border-bottom: none;
    color: #49AF4D;
    letter-spacing: 1.5em;
}

footer {
    height: 3.25em;
    width: 100%;
    margin: 0;
    bottom: 0;
    position: absolute;
}


/* mobile */

@media screen and (max-width: 700px) {
    #title {
        font-size: 2.5em;
        margin-bottom: 0;
    }
    #body {
        font-size: .9em;
    }
    .hello {
        margin: 0 auto;
        width: 80%;
    }
    #about {
        font-size: 1.25em;
    }
}

/* desktop */

@media screen and (min-width: 701px) {
    #title {
        font-size: 6vw;
        margin-bottom: 0;
        line-height: 1.1em;
        padding-bottom: .5em;
    }
    #body {
        font-size: 1em;
    }
    .hello {
        margin: 0 auto;
        width: 80vw;
    }
    #about {
        font-size: 1.5em;
        top: 17em;
        width: 70%;
    }
}